DirectoryIndex index.php

AddDefaultCharset UTF-8

ErrorDocument 404 /check_url.php
ErrorDocument 403 /403.php

RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.+)/$ $1.php [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule .*[^/]$ %{REQUEST_URI}/ [L,R=301]

<FilesMatch ".(htaccess|htpasswd|sql|ini|phps|fla|psd|log|sh)$">
    Order Allow,Deny
    Deny from all
</FilesMatch>
